---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Valuate Page">
    <Header />
    <main>
      <div class="box">
        <button class="valuate-button">Valuate</button>
      </div>
    </main>
    <Footer />
  </Layout>